<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="templatestat" xml:lang="">
<head>
<meta charset="utf-8">
<title>Statistique : Liste des entreprises</title>
</head>
<body class="crm_body_bg">

<div layout:fragment="MyContent">
    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">
            <!-- page title  -->
            <div class="row">
                <div class="col-12">
                    <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                        <div class="page_title_left">
                            <h3 class="f_s_25 f_w_700 dark_text">Tableau de bord</h3>
                        </div>
                        <div class="page_title_right">
                            <div class="page_date_button statDonneesExtraction" data-toggle="modal" data-target="#exampleModalCenter">
                               PDF
                            </div>
                            <!--<div class="page_date_button statDonneesExtraction" data-toggle="modal" data-target="#exampleModalCenter">
                               EXCEL
                            </div>
                            <div class="page_date_button statDonneesExtraction" data-toggle="modal" data-target="#exampleModalCenter">
                               CSV
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                    <div class="white_card card_height_100 mb_30">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="white_card_body">
                            <div class="QA_section">
                                <div class="white_box_tittle list_header2">
                                    <div class="box_right d-flex2 lms_block">
                                        <div class="serach_field_22">
                                            <div class="search_inner">
                                                <form th:action="@{/Statistique/Entreprise}" method="POST" id="statForm">
	                                                <div class="row">
	                                                	<div class="col-xl-3 col-lg-6 ">
			                                                <label for="#">Formes Juridiques:</label>
			                                                <div class="common_select">
			                                                    <select name="idJuridique" id="formeJuridique" class="nice_Select wide mb_30">
			                                                        <option value="">Choix</option>
							                                        <th:block th:each="jury : ${listeFormjury}">
										                            	<option formeJuridique th:text="${jury.titreJury}" th:value="${jury.idJury}"></option >
										                            </th:block>
			                                                    </select>
			                                                </div>
			                                            </div>
	                                                    <div class="col-xl-3 col-lg-6 ">
			                                                <label for="#">Domaines Activités:</label>
			                                                <div class="common_select">
			                                                    <select name="domaineActivite" id="domaineActivite" class="nice_Select wide mb_30">
			                                                           <option value="">Choix</option>
								                                        <th:block th:each="dom : ${listedomaineActivite}">
											                            	<option th:value="${dom.idDomAct}" th:text="${dom.titreDomAct}" ></option >
											                            </th:block>
			                                                    </select>
			                                                    
			                                                </div>
			                                            </div>
	                                                    <div class="col-xl-3 col-lg-6 ">
			                                                <label for="#">Ville:</label>
			                                                <div class="common_select">
			                                                    <select name="ville" id="ville" class="nice_Select wide mb_30">
			                                                       <option value="">Choix</option>
							                                       <th:block th:each="vil : ${listeVilles}">
										                            	<option th:text="${vil.nomVille}" th:value="${vil.idVille}"></option >
										                            </th:block>
			                                                    </select>
			                                                </div>
			                                            </div>
	                                                    <div class="col-xl-3 col-lg-6">
			                                                <label for="#">Commune:</label>
			                                                <div class="common_select">
			                                                    <select name="commune" id="commune" class="nice_Selects form-control wide mb_30">             
			                                                    </select>
			                                                </div>
			                                            </div>
			                                        </div>
			                                        <div class="row">
			                                        	<div class="col-xl-3 col-lg-6">
			                                                <label for="#">Natinalité:</label>
			                                                <div class="common_select">
			                                                    <select name="nationalite" id="nationalite" class="nice_Select wide mb_30">
			                                                         	<option value="">Choix</option>
							                                            <th:block th:each="nat : ${listeNationalites}">
											                            	<option th:text="${nat.titreNat}" th:value="${nat.idNat}"></option >
											                            </th:block>
			                                                    </select>
			                                                </div>
			                                            </div>
			                                        	<div class="col-xl-3 col-lg-6 ">
			                                                <label for="#">Date Debut:</label>
			                                                <div class="form-group mb-0">
																<input type="date" class="form-control" name="inputDate" id="inputDate" th:value="${dateDebut}">
															</div>
			                                            </div>
	                                                    <div class="col-xl-3 col-lg-6 ">
			                                                <label for="#">Date Fin:</label>
			                                                <div class="form-group mb-0">
																<input type="date" class="form-control" name="outPutDate" id="outPutDate" th:value="${dateDuJour}">
															</div>
			                                            </div>
			                                            <div class="col-xl-2 col-lg-6 mt_25">
				                                            <input type="submit" class="btn_1" id="submit" value="Recherche"/>
				                                        </div>
			                                        </div >
                                                </form >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row ">          
                <div class="col-xl-8">
                    <div class="white_card card_height_100 mb_30 ">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="white_card_header">
                                    <div class="box_header m-0">
                                        <div class="main-title">
                                            <h3 class="m-0">LISTE DES ENTREPRISES</h3>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="white_card_body QA_section">
                                    <div class="QA_table statConteneur">
                                        <!-- table-responsive -->
                                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
	                                        <table class="table lms_table_active2 p-0 dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" style="width: 820px;">
	                                            <thead>
	                                                <tr role="row">
	                                                	<th scope="col" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 282px;" aria-sort="ascending" aria-label="Campain: activate to sort column descending">Raison sociale</th>
	                                                	<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80px;" aria-label="Start Time: activate to sort column ascending">Régistre du commerce</th>
	                                                	<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 127px;" aria-label="Company: activate to sort column ascending">N° CC</th>
	                                                	<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 96px;" aria-label="Status: activate to sort column ascending">Contact</th>
	                                                </tr>
	                                            </thead>
	                                            <tbody id="tbodys">
	                                           
												</tbody>
	                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 project_complete pt_25">
                    <div class=" card_height_100 mb_30">
                        <div class="white_card_header">
                            <div class="main-title">
                                <h3 class="m-0">Total entreprise par selection</h3>
                                <span id="totalEntr">0 entreprise</span >
                                <strong id="pourcentage">0 entreprise</strong >
                            </div>
                        </div>
                        <div class="white_card_body ">
                            <div class="card_container">
                                <div id="platform_type_dates_donut" style="height: 280px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative;" _echarts_instance_="ec_1637181563663">
                                	<div style="position: relative; overflow: hidden; width: 273px; height: 280px; padding: 0px; margin: 0px; border-width: 0px;">
                                		<canvas data-zr-dom-id="zr_0" width="273" height="280" style="position: absolute; left: 0px; top: 0px; width: 273px; height: 280px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                                	</div>
                                	<div></div>
                          		</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- ### CHAT_MESSAGE_BOX   ### -->
<!-- MODAL  -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">EXTRACTION DE DONNEES</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form th:action="@{/Statistique/pdf/Entreprise}" method="POST">
        	<div class="modal-body">
		         <div class="white_card_body">
	                <div class="form-group row">
	                    <div class="col-sm-12">
	                    	<label for="#">Extraction des données statistiques au format : <strong id="format"></strong ></label>
	                        <input type="hidden" name="idJuridiques" class="form-control" id="idJuridiques">
	                        <input type="hidden" name="iddomaineActivite" class="form-control" id="iddomaineActivite" >
	                        <input type="hidden" name="idville" class="form-control" id="idville" >
	                        <input type="hidden" name="idcommune" class="form-control" id="idcommune" >
	                        <input type="hidden" name="idnationalite" class="form-control" id="idnationalite" >
	                        <input type="hidden" name="inputDates" class="form-control" id="inputDates" >
	                        <input type="hidden" name="outputDates" class="form-control" id="outputDates" >
	                    </div>
	                </div>
		         </div>
        	</div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	          <button type="submit" class="btn btn-primary">Extraire</button>
	        </div>
        </form>
      </div>
    </div>
  </div>
     <!-- FIN MODAL  -->

</div>
</div>
