<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template3" xml:lang="">
<head>
<meta charset="utf-8">
<title>Confirmation : Levée de Gage</title>
</head>
<body>
<div layout:fragment="MyContent">
    <!-- LE CORPS  -->
    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">
            <!-- page title  -->
            <div class="row ">
                <div class="col-12">
                    <div class="white_card mb_30 ">
                        <div class="white_card_header">
                            <div class="bulder_tab_wrapper">
                                <ul class="nav" id="myTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" id="page-tab" data-toggle="tab" href="#page" role="tab" aria-controls="profile" aria-selected="true">DEMANDEUR PHYSIQUE</a>
                                    </li>
                                  </ul>                                  
                            	</div>
                        	</div>
                        </div>
                              <div class="row" th:if="${errorsList}">
				            <div class="col-12">
				            	<div class="alert text-white bg-danger" role="alert">
									<div class="alert-text" th:each="errors : ${errorsList}">
										<b><span th:text="${errors}"> </span ></b>
									</div>
								</div>
				            </div>
			            </div>
                        <div class="white_card_body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="page" role="tabpanel" aria-labelledby="page-tab">
                                   		<form th:action="@{ajoutDossier}" method="POST">
                                   <div class="row justify-content-center">
							                <div class="col-lg-6">
							                    <div class="white_card card_height_100 mb_30">
							                        <div class="white_card_header">
							                            <div class="box_header m-0">
							                                <div class="main-title">
							                                    <h3 class="m-0">INFORMATION SUR LE DEMANDEUR</h3>
							                                </div>
							                            </div>
							                        </div>
							                        <div class="white_card_body">
						                                <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Civilité*</label>
						                                    <div class="col-sm-8">
						                                        <select name="sexeDem" id="inputState" class="form-control" th:field="*{verifDemandeur.sexeDem}">
						                                            <option value="">Veuillez selectionner</option>
						                                            <option value="monsieur">Monsieur</option>
						                                            <option value="madame">Madame</option >
						                                            <option value="mademoiselle">Mademoiselle</option >
						                                        </select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">Nom</label>
						                                    <div class="col-sm-8">
						                                        <input type="text" name="nomDem" class="form-control" id="input" th:value="${verifDemandeur.nomDem}">
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Prénom*</label>
						                                    <div class="col-sm-8">
						                                        <input name="prenomsDem" type="text" class="form-control" id="inputEmail3" th:value="${verifDemandeur.prenomsDem}">
						                                    </div>
						                                </div>
														<div class="form-group row">
															<label class="col-sm-4 col-form-label" for="inputState">Fonction*</label>
															<div class="col-sm-8">
																<select name="fonction" id="inputState" class="form-control" th:field="*{verifDemandeur.Fonction.idFonc}">
																	<option value="">Veuillez selectionner</option>
																	<th:block th:each="Fonc : ${listefonction}">
																		<option th:text="${Fonc.titreFonc}" th:value="${Fonc.idFonc}"></option >
																	</th:block>
																</select>
															</div>
														</div>
						                                <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Type pièces*</label>
						                                    <div class="col-sm-8">
						                                        <select name="typePieceIdentite" id="inputState" class="form-control" th:field="*{verifDemandeur.TypePieceIdentite.idTyp}">
																	<option value="">Veuillez selectionner</option>
																	<th:block th:each="typiec : ${listetypePieceIdentite}">
																		<option th:value="${typiec.idTyp}" th:text="${typiec.titreTyp}"></option >
																	</th:block>
																</select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">N° de la pièce*</label>
						                                    <div class="col-sm-8">
						                                        <input name="numpieceDem" type="text" class="form-control" id="inputPassword3" th:value="${verifDemandeur.numpieceDem}">
						                                    </div>
						                                </div>
														<div class="form-group row">
															<label for="inputPassword3" class="col-sm-4 col-form-label">Date validité</label>
															<div class="col-sm-8">
																<input type="date" name="validitePieceDem" class="form-control" id="inputPassword3" th:value="${verifDemandeur.validitePieceDem}">
															</div>
														</div>
						                                <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Nationalité*</label>
						                                    <div class="col-sm-8">
						                                        <select name="nationalite" id="inputState" class="form-control" th:field="*{verifDemandeur.nationalite.idNat}">
																	<option value="">Veuillez selectionner</option>
						                                            <th:block th:each="nat : ${listeNationalites}">
										                            	<option th:value="${nat.idNat}" th:text="${nat.titreNat}" ></option >
										                            </th:block>
						                                        </select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">N° Tel *</label>
						                                    <div class="col-sm-8">
						                                        <input name="telDem" type="text" class="form-control" id="inputPassword3" th:value="${verifDemandeur.telDem}">
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">E-Mail</label>
						                                    <div class="col-sm-8">
						                                        <input name="emailDem" type="email" class="form-control" id="inputPassword3" th:value="${verifDemandeur.emailDem}">
						                                    </div>
						                                </div>
						                        	</div>
							                    </div>
							                </div>
							                <div class="col-lg-6">
							                    <div class="white_card card_height_100 mb_30">
							                        <div class="white_card_header">
							                            <div class="box_header m-0">
							                                <div class="main-title">
							                                    <h3 class="m-0">INFORMATION DU DOSSIER</h3>
							                                </div>
							                            </div>
							                        </div>
													<div class="white_card_body">
														<div class="form-group row">                                                
															<label class="col-sm-4 col-form-label" for="inputState">Marque</label>
															<div class="col-sm-8">
																<select name="marque" id="inputState" class="form-control" th:field="*{verifCodeImportation.Marque.idMarque}">
																	<option value="">Veuillez selectionner</option>
																	<th:block th:each="nat : ${listemarques}">
																		<option th:text="${nat.nomMarque}" th:value="${nat.idMarque}"></option >
																	</th:block>
																</select>
															</div>
														</div>
														<div class="form-group row">                                                
															<label class="col-sm-4 col-form-label" for="inputState">Genre</label>
															<div class="col-sm-8">
																<select name="genreMarque" id="inputState" class="form-control" th:field="*{verifCodeImportation.GenreMarque.idGen}">
																	<option value="">Veuillez selectionner</option>
																	<th:block th:each="nats : ${listegenreMarques}">
																		<option th:text="${nats.nomGen}" th:value="${nats.idGen}"></option >
																	</th:block>
																</select>
															</div>
														</div>
														<div class="form-group row">
															<label for="inputPassword3" class="col-sm-4 col-form-label">N° immatriculation*</label>
															<div class="col-sm-8">
																<input name="numImmatriculationtGag" type="text" class="form-control" id="inputPassword3" th:value="${verifCodeImportation.numImmatriculationtGag}">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputEmail3" class="col-sm-4 col-form-label">Date mise en circulation*</label>
															<div class="col-sm-8">
																<input type="date" name="dateMiseCirculationGag" onchange="ageCalculate()"   class="form-control" id="dateMiseCirculationGag" th:value="${#dates.format(verifCodeImportation.dateMiseCirculationGag, 'yyyy-MM-dd')}">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputEmail3" class="col-sm-4 col-form-label">Age véhicule *</label>
															<div class="col-sm-8">
																<div class="form-row">
																	<div class="col-sm-4">
																		<div class="form-row">
																			<input readonly type="text" name="anLGage"  class="col-sm-6 form-control" id="anLGage" th:value="${years}">
																			<label for="inputEmail3" class="col-sm-6">An(s)</label>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="form-row">
																			<input readonly type="text" name="moisLGage"  class="col-sm-6 form-control" id="moisLGage" th:value="${mois}">
																			<label for="inputEmail3" class="col-sm-6">Ms</label>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="form-row">
																			<input readonly type="text" name="joursLGage"  class="col-sm-6 form-control" id="joursLGage" th:value="${jours}">
																			<label for="inputEmail3" class="col-sm-6">Jrs</label>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="form-group row">
															<label for="inputEmail3" class="col-sm-4 col-form-label">N° carte grise*</label>
															<div class="col-sm-8">
																<input name="numCarteGriseGag" type="text" class="form-control" id="inputEmail3" th:value="${verifCodeImportation.numCarteGriseGag}">
															</div>
														</div>
														 <div class="form-group row">
															<label for="inputEmail3" class="col-sm-4 col-form-label">Date gage *</label>
															<div class="col-sm-8">
																<input type="date" name="dateGag"  class="form-control" id="inputEmail3" th:value="${#dates.format(verifCodeImportation.dateGag, 'yyyy-MM-dd')}">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputEmail3" class="col-sm-4 col-form-label">N° chassis *</label>
															<div class="col-sm-8">
																<input name="numChassisGag" type="text" class="form-control" id="inputEmail3" th:value="${verifCodeImportation.numChassisGag}">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputEmail3" class="col-sm-4 col-form-label">Type technique *</label>
															<div class="col-sm-8">
																<input name="TypeTechGag" type="text" class="form-control" id="inputEmail3" th:value="${verifCodeImportation.TypeTechGag}">
															</div>
														</div>
														 <div class="form-group row">                                                
															<label class="col-sm-4 col-form-label" for="inputState">Usage</label>
															<div class="col-sm-8">                                 
																<select name="UsageGag" id="inputState" class="form-control" th:field="*{verifCodeImportation.UsageGag}">
																	<option value="">Veuillez selectionner</option>
																	<option value="personnel">Personnel</option>
																	<option value="commercial">Commercial</option >
																</select>
															</div>
														</div>
													</div>
							                    </div>
							                </div>
							                <div class="col-lg-12" th:if="*{verifCodeImportation.UsageGag=='commercial'}">						                    
							                    <div class="white_card card_height_100 mb_30">
							                        <div class="white_card_header">
							                            <div class="box_header m-0">
							                                <div class="main-title">
							                                    <h3 class="m-0">INFORMATION SUR LE BENEFICIAIRE</h3>
							                                </div>
							                            </div>
							                        </div>
							                        <div class="white_card_body">
	                                                    <div class="form-row">  
	                                                    	<div class="col-sm-4 ">                                              
	                                                        	<label class="col-form-label" for="inputState">Civilité*</label>                                                        
	                                                            <select name="sexeBen" id="sexeBen" class="form-control" th:field="*{verifBeneficiaire.sexeBen}">
	                                                                <option value="">Veuillez selectionner</option>
	                                                                <option value="monsieur">Monsieur</option>
	                                                                <option value="madame">Madame</option >
	                                                                <option value="mademoiselle">Mademoiselle</option >
	                                                            </select>
	                                                        </div>
	                                                        <div class="col-sm-4">
	                                                        <label for="inputPassword3" class="col-form-label">Nom*</label>
	                                                            <input name="nomBen" type="text" class="form-control" id="nomBen" th:value="${verifBeneficiaire.nomBen}">
	                                                        </div>
	                                                        <div class="col-sm-4">
	                                                        	<label for="inputEmail3" class="col-form-label">Prénom*</label>
	                                                            <input name="prenomsBen" type="text" class="form-control" id="prenomsBen" th:value="${verifBeneficiaire.prenomsBen}">
	                                                        </div>                   
	                                                        <div class="col-sm-4">
	                                                        	<label class="col-form-label" for="pieceBeneficiaire">Type pièces*</label>
	                                                            <select name="pieceBeneficiaire" id="pieceBeneficiaire" class="form-control" th:field="*{verifBeneficiaire.pieceBeneficiaire.idTyp}">
	                                                                <option value="">Veuillez selectionner</option>
	                                                                <th:block th:each="typiec : ${listetypePieceIdentite}">
	                                                                    <option th:value="${typiec.idTyp}" th:text="${typiec.titreTyp}"></option >
	                                                                </th:block>
	                                                            </select>
	                                                        </div>
	                                                        <div class="col-sm-4">
	                                                        <label for="inputPassword3" class="col-form-label">N° de la pièce*</label>
	                                                            <input name="numpieceBen" type="text" class="form-control" id="numpieceBen" th:value="${verifBeneficiaire.numpieceBen}">
	                                                        </div>
	                                                        <div class="col-sm-4">
	                                                        <label for="inputPassword3" class="col-form-label">Date validité *</label>
	                                                            <input type="Date" name="validitePieceBen" class="form-control" id="validitePieceBen" th:value="${verifBeneficiaire.validitePieceBen}">
	                                                        </div>                              
	                                                        <div class="col-sm-4">
	                                                        <label class="col-form-label" for="inputState">Nationalité*</label>
	                                                            <select name="natBeneficiaire" id="natBeneficiaire" class="form-control" th:field="*{verifBeneficiaire.natBeneficiaire.idNat}">
	                                                                <option value="">Veuillez selectionner</option>
	                                                                <th:block th:each="nat : ${listeNationalites}">
	                                                                    <option th:text="${nat.titreNat}" th:value="${nat.idNat}"></option >
	                                                                </th:block>
	                                                            </select>
	                                                        </div>
	                                                        <div class="col-sm-4">
	                                                        	<label for="inputPassword3" class="col-form-label">N° Tel *</label>
	                                                            <input name="telBen" type="text" class="form-control" id="inputPassword3" th:value="${verifBeneficiaire.telBen}">
	                                                        </div>
	                                                        <div class="col-sm-4">
	                                                        	<label for="inputPassword3" class="col-form-label">E-Mail</label>
	                                                            <input name="emailBen" type="email" class="form-control" id="inputPassword3" th:value="${verifBeneficiaire.emailBen}">
	                                                        </div>
	                                                    </div>
	                                                
	                                            	</div>
							                    </div>										                
							                </div>
						            </div>
						            <div class="form-group row mt-4 ">
														<div class="offset-sm-10 col-sm-2">
															<button type="submit" class="btn btn-primary pull-right">Valider</button>
														</div>
													</div>
										</form>						                						                
                                </div>
                            </div>
                        </div>
                    <!-- FIN White_card  -->
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DU CORPS  -->
</div>
</body>