<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template3">
<head>
<meta charset="utf-8">
<title>Créarion Levee Gage</title>
</head>
<body>
<div layout:fragment="MyContent">
    <!-- LE CORPS  -->
    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">
            <!-- page title  -->
            <div class="row ">
                <div class="col-12">
                    <div class="white_card mb_30 ">
                        <div class="white_card_header">
                            <div class="bulder_tab_wrapper">
                                <ul class="nav" id="myTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" id="page-tab" data-toggle="tab" href="#page" role="tab" aria-controls="profile" aria-selected="true">DEMANDEUR PHYSIQUE</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="Themes-tab" data-toggle="tab" href="#Themes" role="tab" aria-controls="Themes" aria-selected="false">DEMANDEUR MORALE</a>
                                    </li>
                                    <li class="nav-item">
                                     <h4> <strong> <a class="nav-link" aria-selected="false" th:text="${'DOSSIER N° : '+numDossiers}"></a></strong></h4>
                                    </li>
                                  </ul>                                  
                            	</div>
                        	</div>
                        </div>
                        <div class="white_card_body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="page" role="tabpanel" aria-labelledby="page-tab">
                                   <div class="row justify-content-center">
						                <div class="col-lg-6">
						                    <div class="white_card card_height_100 mb_30">
						                        <div class="white_card_header">
						                            <div class="box_header m-0">
						                                <div class="main-title">
						                                    <h3 class="m-0">INFORMATION SUR LE DEMANDEUR</h3>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="white_card_body">
						                            <form th:action="@{ajoutDossier}" method="POST">
						                                <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Civilité*</label>
						                                    <div class="col-sm-8">
						                                        <select name="sexeDem" id="inputState" class="form-control">
						                                            <option value="monsieur">Monsieur</option>
						                                            <option value="madame">Madame</option >
						                                            <option value="mademoiselle">Mademoiselle</option >
						                                        </select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">Nom</label>
						                                    <div class="col-sm-8">
						                                        <input type="text" name="nomDem" class="form-control" id="input" placeholder="Nom">
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Prénom*</label>
						                                    <div class="col-sm-8">
						                                        <input name="prenomsDem" type="text" class="form-control" id="inputEmail3" placeholder="Prenoms">
						                                    </div>
						                                </div>
						                                <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Type pièces*</label>
						                                    <div class="col-sm-8">
						                                        <select name="pieceidentDem" id="inputState" class="form-control">
						            								<option value="0"> Selectionner  </option>
						            								<option value="9">Attestation d'Identité</option>
						            								<option value="8">Carte Consulaire</option>
						            								<option value="1">Carte Nationale d'Identité</option>
						            								<option value="11">Certificat d'Inscription au Registre des Transporteurs (CIRT)</option>
						            								<option value="2">Passeport</option>
						            								<option value="7">Permis de Conduire</option>
						            								<option value="10">Titre de séjour</option>
						                                        </select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">N° de la pièce*</label>
						                                    <div class="col-sm-8">
						                                        <input name="numpieceDem" type="text" class="form-control" id="inputPassword3" placeholder="N° de la pièce">
						                                    </div>
						                                </div>
						                                <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Nationalité*</label>
						                                    <div class="col-sm-8">
						                                        <select name="nationalite" id="inputState" class="form-control">
						                                            <th:block th:each="nat : ${listeNationalites}">
										                            	<option th:text="${nat.titreNat}" th:value="${nat.idNat}"></option >
										                            </th:block>
						                                        </select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">N° Tel *</label>
						                                    <div class="col-sm-8">
						                                        <input name="telDem" type="text" class="form-control" id="inputPassword3" placeholder="N° Tel">
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">E-Mail</label>
						                                    <div class="col-sm-8">
						                                        <input name="emailDem" type="email" class="form-control" id="inputPassword3" placeholder="E-Mail">
						                                    </div>
						                                </div>
						                        </div>
						                    </div>
						                </div>
						                <div class="col-lg-6">
						                    <div class="white_card card_height_100 mb_30">
						                        <div class="white_card_header">
						                            <div class="box_header m-0">
						                                <div class="main-title">
						                                    <h3 class="m-0">INFORMATION DU DOSSIER</h3>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="white_card_body">
						                        		<div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Marque</label>
						                                    <div class="col-sm-8">
						                                        <select name="marque" id="inputState" class="form-control">
						                                            <th:block th:each="nat : ${listemarques}">
										                            	<option th:text="${nat.nomMarque}" th:value="${nat.idMarque}"></option >
										                            </th:block>
						                                        </select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Genre</label>
						                                    <div class="col-sm-8">
						                                        <select name="genreMarque" id="inputState" class="form-control">
						                                            <th:block th:each="nats : ${listegenreMarques}">
										                            	<option th:text="${nats.nomGen}" th:value="${nats.idGen}"></option >
										                            </th:block>
						                                        </select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">N° immatriculation*</label>
						                                    <div class="col-sm-8">
						                                        <input name="numImmatriculationtGag" type="text" class="form-control" id="inputPassword3" placeholder="N° immatriculation">
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Date mise en circulation*</label>
						                                    <div class="col-sm-8">
						                                        <input type="date" name="dateMiseCirculationGag" onchange="ageCalculate()"   class="form-control" id="dateMiseCirculationGag">
						                                    </div>
						                                </div>
						                            	<div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Age véhicule *</label>
						                                    <div class="col-sm-8">
						                                    	<div class="form-row">
						                                    		<div class="col-sm-4">
						                                    			<div class="form-row">
							                                        		<input type="text" name="anLGage"  class="col-sm-6 form-control" id="anLGage" placeholder="An">
						                                        			<label for="inputEmail3" class="col-sm-6">An</label>
						                                        		</div>
						                                        	</div>
						                                        	<div class="col-sm-4">
						                                        		<div class="form-row">
							                                        		<input type="text" name="moisLGage"  class="col-sm-6 form-control" id="moisLGage" placeholder="Ms">
						                                        			<label for="inputEmail3" class="col-sm-6">Ms</label>
						                                        		</div>
						                                        	</div>
						                                        	<div class="col-sm-4">
						                                        		<div class="form-row">
							                                        		<input type="text" name="joursLGage"  class="col-sm-6 form-control" id="joursLGage" placeholder="Jr">
						                                        			<label for="inputEmail3" class="col-sm-6">Jrs</label>
						                                        		</div>
						                                        	</div>
						                                        </div>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">N° carte grise*</label>
						                                    <div class="col-sm-8">
						                                        <input name="numCarteGriseGag" type="text" class="form-control" id="inputEmail3" placeholder="N° carte grise">
						                                    </div>
						                                </div>
						                             	<div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Date gage *</label>
						                                    <div class="col-sm-8">
						                                        <input type="date" name="dateGag"  class="form-control" id="inputEmail3" placeholder="Date gage">
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">N° chassis *</label>
						                                    <div class="col-sm-8">
						                                        <input name="numChassisGag" type="text" class="form-control" id="inputEmail3" placeholder="N° chassis">
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Type technique *</label>
						                                    <div class="col-sm-8">
						                                        <input name="TypeTechGag" type="text" class="form-control" id="inputEmail3" placeholder="Type technique">
						                                    </div>
						                                </div>
						                                 <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Usage</label>
						                                    <div class="col-sm-8">                                 
						                                        <select name="UsageGag" id="inputState" class="form-control">
						                                            <option value="personnel">Personnel</option>
						                                            <option value="commercial">Commercial</option >
						                                        </select>
						                                     </div>
						                                   </div>
						                                <div class="form-group row">
						                                    <div class="col-sm-10">
						                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
						                                    </div>
						                                </div>
						                            </form>
						                        </div>
						                    </div>
						                </div>						                
						            </div>
                                </div>
                                <div class="tab-pane fade" id="Themes" role="tabpanel" aria-labelledby="Themes-tab">
                                    <div class="row justify-content-center">
						                <div class="col-lg-12">
						                    <div class="white_card card_height_100 mb_30">
						                        <div class="white_card_header">
						                            <div class="box_header m-0">
						                                <div class="main-title">
						                                    <h3 class="m-0">INFORMATION SUR L'ENTREPRISE</h3>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="white_card_body">
						                            <form th:action="@{ajoutDossier}" method="POST">
						                                <div class="form-row">
						                                     <div class="col-sm-4">
						                                     <label for="inputEmail3" class="col-form-label">Raison sociale*</label>						                                   
						                                        <input type="text" name="nomEntr" class="form-control" id="input" placeholder="Raison sociale">
						                                    </div>
						                                 	<div class="col-sm-4">
						                                    	<label for="inputPassword3" class="col-form-label">Sigle</label>						                                   
						                                        <input type="text" name="sigleEntr" class="form-control" id="input" placeholder="Sigle">
						                                    </div>
						                                    <div class="col-sm-4">
						                                    	<label for="inputPassword3" class="col-form-label">Compte contribuable* </label>
						                                        <input name="contribuableEntr" type="text" class="form-control" id="inputPassword3" placeholder="Compte Contribuable">
						                                    </div>
						                                    <div class="col-sm-4">                                          
						                                    	<label class="col-form-label" for="inputState">Exonérer RCCM</label>						                                    
						                                        <select name="exoregcomEntr" id="inputState" class="form-control">
						                                            <option value="non">NON</option>
						                                            <option value="oui">OUI</option >
						                                        </select>
						                                    </div>
						                                	<div class="col-sm-4">
						                                    <label for="inputEmail3" class="col-form-label">N° RCCM</label>						                                    
						                                        <input type="text" name="regcommerceEntr" class="form-control" id="inputEmail3" placeholder="N° RCCM">
						                                    </div>
						                                    <div class="col-sm-4">                                           
						                                    	<label class="col-form-label" for="inputState">Forme juridique*</label>						                                    
						                                        <select name="formeJuridique" id="inputState" class="form-control">
						                                            <th:block th:each="jury : ${listeFormjury}">
										                            	<option th:text="${jury.titreJury}" th:value="${jury.idJury}"></option >
										                            </th:block>
						                                        </select>
						                                    </div>
						                                    <div class="col-sm-4">                                          
						                                    <label class="col-form-label" for="inputState">Ville*</label>						                                    
						                                        <select name="ville" id="inputState" class="form-control">
						                                           <th:block th:each="vil : ${listeVilles}">
										                            	<option th:text="${vil.nomVille}" th:value="${vil.idVille}"></option >
										                            </th:block>
						                                        </select >
						                                    </div>
						                                     <div class="col-sm-4">                                       
						                                    <label  class="col-form-label" for="inputState">Commune*</label >						                                   
						                                        <select name="commune" id="inputState" class="form-control">
						                                            <th:block th:each="com : ${listeCommunes}">
										                            	<option th:text="${com.nomCommune}" th:value="${com.idCommune}"></option >
										                            </th:block>
						                                        </select >
						                                    </div>
						                                	<div class="col-sm-4">
						                                    <label for="inputPassword3" class="col-form-label">Adresse postale</label>
						                                    
						                                        <input name="postaleEntr" type="text" class="form-control" id="inputPassword3" placeholder="Postale">
						                                    </div>
						                                	<div class="col-sm-4">
						                                    <label for="inputPassword3" class="col-form-label">Téléphone</label>						                                    
						                                        <input name="telEntr" type="text" class="form-control" id="inputPassword3" placeholder="Téléphone">
						                                    </div>
						                                	<div class="col-sm-4">
						                                    	<label for="inputPassword3" class="col-form-label">E-Mail*</label>						                                    
						                                        <input name="emailEntr" type="email" class="form-control" id="inputPassword3" placeholder="E-Mail">
						                                    </div>
						                                </div>
						                        </div>
						                    </div>
						                </div>
						            </div>
						            <div class="row justify-content-center">
						                <div class="col-lg-6">						                    
						                    <div class="white_card card_height_100 mb_30">
						                        <div class="white_card_header">
						                            <div class="box_header m-0">
						                                <div class="main-title">
						                                    <h3 class="m-0">INFORMATION SUR LE PROPRIETAIRE</h3>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="white_card_body">						
						                                <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Civilité*</label>
						                                    <div class="col-sm-8">
						                                        <select name="sexeProp" id="inputState" class="form-control">
						                                            <option value="monsieur">Monsieur</option>
						                                            <option value="madame">Madame</option >
						                                            <option value="mademoiselle">Mademoiselle</option >
						                                        </select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">Nom*</label>
						                                    <div class="col-sm-8">
						                                        <input name="nomProp" type="text" class="form-control" id="inputPassword3" placeholder="Nom">
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Prénom*</label>
						                                    <div class="col-sm-8">
						                                        <input name="prenomsProp" type="text" class="form-control" id="inputEmail3" placeholder="Prenoms">
						                                    </div>
						                                </div>
						                                <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Type pièces*</label>
						                                    <div class="col-sm-8">
						                                        <select name="pieceidentProp" id="inputState" class="form-control">
						            								<option value="0"> Selectionner  </option>
						            								<option value="9">Attestation d'Identité</option>
						            								<option value="8">Carte Consulaire</option>
						            								<option value="1">Carte Nationale d'Identité</option>
						            								<option value="11">Certificat d'Inscription au Registre des Transporteurs (CIRT)</option>
						            								<option value="2">Passeport</option>
						            								<option value="7">Permis de Conduire</option>
						            								<option value="10">Titre de séjour</option>
						                                        </select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">N° de la pièce*</label>
						                                    <div class="col-sm-8">
						                                        <input name="numpieceProp" type="text" class="form-control" id="inputPassword3" placeholder="N° de la pièce">
						                                    </div>
						                                </div>
						                                <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Nationalité*</label>
						                                    <div class="col-sm-8">
						                                        <select name="nationalite" id="inputState" class="form-control">
						                                            <th:block th:each="nat : ${listeNationalites}">
										                            	<option th:text="${nat.titreNat}" th:value="${nat.idNat}"></option >
										                            </th:block>
						                                        </select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">N° Tel *</label>
						                                    <div class="col-sm-8">
						                                        <input name="telProp" type="text" class="form-control" id="inputPassword3" placeholder="N° Tel">
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputPassword3" class="col-sm-4 col-form-label">E-Mail</label>
						                                    <div class="col-sm-8">
						                                        <input name="emailProp" type="email" class="form-control" id="inputPassword3" placeholder="E-Mail">
						                                    </div>
						                                </div>
						                        </div>
						                    </div>										                
						                </div>
					                	<div class="col-lg-6">
						                    <div class="white_card card_height_100 mb_30">
						                        <div class="white_card_header">
						                            <div class="box_header m-0">
						                                <div class="main-title">
						                                    <h3 class="m-0">INFORMATION DU DOSSIER</h3>
						                                </div>
						                            </div>
						                        </div>
						                         <div class="white_card_body">
						                        		<div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Marque</label>
						                                    <div class="col-sm-8">
						                                        <select name="marque" id="inputState" class="form-control">
						                                            <th:block th:each="nat : ${listemarques}">
										                            	<option th:text="${nat.nomMarque}" th:value="${nat.idMarque}"></option >
										                            </th:block>
						                                        </select>
						                                    </div>
						                                </div>
						                                <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Genre</label>
						                                    <div class="col-sm-8">
						                                        <select name="genreMarque" id="inputState" class="form-control">
						                                            <th:block th:each="nats : ${listegenreMarques}">
										                            	<option th:text="${nats.nomGen}" th:value="${nats.idGen}"></option >
										                            </th:block>
						                                        </select>
						                                    </div>
						                                </div>
						                               <div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Date mise en circulation*</label>
						                                    <div class="col-sm-8">
						                                        <input type="date" name="dateMiseCirculationGag" onchange="ageCalculate()"   class="form-control" >
						                                    </div>
						                                </div>
						                            	<div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Age véhicule *</label>
						                                    <div class="col-sm-8">
						                                    	<div class="form-row">
						                                    		<div class="col-sm-4">
						                                    			<div class="form-row">
							                                        		<input type="text" name="anLGage"  class="col-sm-6 form-control" id="anLGage1" placeholder="An">
						                                        			<label for="inputEmail3" class="col-sm-6">An</label>
						                                        		</div>
						                                        	</div>
						                                        	<div class="col-sm-4">
						                                        		<div class="form-row">
							                                        		<input type="text" name="moisLGage"  class="col-sm-6 form-control" id="moisLGage1" placeholder="Ms">
						                                        			<label for="inputEmail3" class="col-sm-6">Ms</label>
						                                        		</div>
						                                        	</div>
						                                        	<div class="col-sm-4">
						                                        		<div class="form-row">
							                                        		<input type="text" name="joursLGage"  class="col-sm-6 form-control" id="joursLGage1" placeholder="Jr">
						                                        			<label for="inputEmail3" class="col-sm-6">Jrs</label>
						                                        		</div>
						                                        	</div>
						                                        </div>
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">N° carte grise*</label>
						                                    <div class="col-sm-8">
						                                        <input name="numCarteGriseGag" type="text" class="form-control" id="inputEmail3" placeholder="N° carte grise">
						                                    </div>
						                                </div>
						                             	<div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Date gage *</label>
						                                    <div class="col-sm-8">
						                                        <input type="date" name="dateGag"  class="form-control" id="inputEmail3" placeholder="Date gage">
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">N° chassis *</label>
						                                    <div class="col-sm-8">
						                                        <input name="numChassisGag" type="text" class="form-control" id="inputEmail3" placeholder="N° chassis">
						                                    </div>
						                                </div>
						                                <div class="form-group row">
						                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Type technique *</label>
						                                    <div class="col-sm-8">
						                                        <input name="TypeTechGag" type="text" class="form-control" id="inputEmail3" placeholder="Type technique">
						                                    </div>
						                                </div>
						                                 <div class="form-group row">                                                
						                                    <label class="col-sm-4 col-form-label" for="inputState">Usage</label>
						                                    <div class="col-sm-8">                                 
						                                        <select name="UsageGag" id="inputState" class="form-control">
						                                            <option value="personnel">Personnel</option>
						                                            <option value="commercial">Commercial</option >
						                                        </select>
						                                     </div>
						                                   </div>
						                                <div class="form-group row">
						                                    <div class="col-sm-10">
						                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
						                                    </div>
						                                </div>
						                            </form>
						                        </div>
						                    </div>
						                </div>						                
						            </div>
                                </div>
                                
                            </div>
                        </div>
                    <!-- FIN White_card  -->
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DU CORPS  -->
</div>
</body>