<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template3" xml:lang>
<head>
<meta charset="utf-8">
<title>Création : Code Occasionnel</title>
</head>
<body>
<div layout:fragment="MyContent">
    <!-- LE CORPS  -->
    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">
            <!-- page title  -->
            <div class="row ">
                <div class="col-12">
                    <div class="white_card mb_30 ">
                        <div class="white_card_header">
                            <div class="bulder_tab_wrapper">
                                <ul class="nav" id="myTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link  active" id="Themes-tab" href="DemandeurMoral">DEMANDEUR MORALE</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="page-tab" href="DemandeurPhysique" >DEMANDEUR PHYSIQUE</a>
                                    </li>
                                  </ul>                                  
                            	</div>
                        	</div>
                        </div>
                        <div class="white_card_body" id="stepByStep">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="Themes" role="tabpanel" aria-labelledby="Themes-tab">
                                    <div class="row justify-content-center">
						                <div class="col-lg-12">
											<div class="container d-flex align-items-center min-vh-100 white_card card_height_100 mb_30">
												<div class="row g-0 justify-content-center">
													<!-- TITLE -->
													<div class="col-lg-4 offset-lg-1 mx-0 px-0">
														<div id="title-container">
															<img class="covid-image" src="../images/iec.png">
															<h2>CODE OCCASIONNEL</h2>
															<h3>ATTRIBUTION</h3>
														</div>
													</div>
													<!-- FORMS -->
													<div class="col-lg-7 mx-0 px-0">
														<div class="progress">
															<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0%"></div>
														</div>
														<div id="qbox-container">
															<form th:action="@{confirmationDossier}" class="needs-validation" id="form-wrapper" name="form-wrapper" method="POST" novalidate="">
																<div id="steps-container">
																	<div class="step d-block">
																		<h4>SELECTIONNER LE TYPE D'USAGE</h4>
																		<div class="mt-1">
																			<div class="form-check ps-0 q-box">
																				<div class="q-box__question">
																					<input checked="" class="form-check-input question__input" id="q_1_no" name="UsageGag" type="radio" value="commercial"> 
																					<label class="form-check-label question__label" for="q_1_no">Commercial</label>
																				</div>
																				<div class="q-box__question">
																					<input class="form-check-input question__input" id="q_1_yes" name="UsageGag" type="radio" value="personnel"> 
																					<label class="form-check-label question__label" for="q_1_yes">Personnel</label>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="step">
																		<h4>INFORMATION SUR LA STRUCTURE</h4>
																		<div class="mt-2">                                           
																			<label for="typeStructure" class="form-label" >Type Structure</label>						                                    
																			<select name="typeStructure" id="typeStructure" class="form-control" required>
																				<option value="">Veuillez selectionner</option>
																				<th:block th:each="struc : ${listetypeStructure}">
																					<option th:value="${struc.idStruc}" th:if="${struc.idStruc!=1}" th:text="${struc.titreStruc}" ></option >
																				</th:block>
																			</select>
																		</div>
																	</div>
																	<div class="step">
																		<h4>INFORMATION SUR LA STRUCTURE</h4>
																		<div class="mt-1">
																			 <label for="inputEmail3" class="form-label">Raison sociale*</label>						                                   
																			<input type="text" name="nomEntr" class="form-control" id="input">
																		</div>
																		 <div class="mt-2">
																			<label for="inputPassword3" class="form-label">Sigle</label>						                                   
																			<input type="text" name="sigleEntr" class="form-control" id="input">
																		</div>
																		
																		<div class="mt-2" id="departementBody">                                           
																			<label class="form-label" for="inputState">Département</label>						                                    
																			<select name="departement" id="departement" class="form-control">
																				<option value="">Veuillez selectionner</option>
																				<th:block th:each="Dep : ${listedepartement}">
																					<option th:value="${Dep.idDep}" th:text="${Dep.titreDep}" ></option >
																				</th:block>
																			</select>
																		</div>
																		<div class="mt-2" id="numIduBody">
																			<label for="inputPassword3" class="form-label">N° IDU </label>
																			<input name="numIduEntr" type="text" class="form-control" id="numIduEntr">
																		</div>
																		<div class="mt-2">
																			<label for="inputPassword3" class="form-label">Compte contribuable* </label>
																			<input name="contribuableEntr" type="text" class="form-control" id="comptecontriEntr">
																		</div>
																		<div class="mt-2" id="exoregcomBody">                                          
																			<label class="form-label" for="inputState">Exonérer RCCM</label>						                                    
																			<select name="exoregcomEntr" id="exoregcomEntr" class="form-control">
																				<option value="">Veuillez selectionner</option>
																				<option value="non">NON</option>
																				<option value="oui">OUI</option >
																			</select>
																		</div>
																		<div class="mt-2" id="regcommerceBody">
																		<label for="inputEmail3" class="form-label">N° RCCM</label>						                                    
																			<input type="text" name="regcommerceEntr" class="form-control" id="regcommerceEntr">
																		</div>
																	</div>
																	<div class="step">
																	  <h4>INFORMATION SUR LA STRUCTURE</h4>
																		<div class="mt-2">                                           
																			<label class="form-label" for="inputState">Forme juridique*</label>						                                    
																			<select name="formeJuridique" id="inputState" class="form-control">
																				<option value="">Veuillez selectionner</option>
																				<th:block th:each="jury : ${listeFormjury}">
																					<option th:text="${jury.titreJury}" th:value="${jury.idJury}"></option >
																				</th:block>
																			</select>
																		</div>
																		<div class="mt-2">                                           
																			<label class="form-label" for="inputState">Domaine Activité*</label>						                                    
																			<select name="domaineActivite" id="inputState" class="form-control">
																				<option value="">Veuillez selectionner</option>
																				<th:block th:each="dom : ${listedomaineActivite}">
																					<option th:value="${dom.idDomAct}" th:text="${dom.titreDomAct}" ></option >
																				</th:block>
																			</select>
																		</div>
																		<div class="mt-2">                                          
																		<label class="form-label" for="inputState">Ville*</label>						                                    
																			<select name="ville" id="inputState" class="form-control">
																				<option value="">Veuillez selectionner</option>
																			   <th:block th:each="vil : ${listeVilles}">
																					<option th:text="${vil.nomVille}" th:value="${vil.idVille}"></option >
																				</th:block>
																			</select >
																		</div>
																		 <div class="mt-2">                                       
																		<label  class="form-label" for="inputState">Commune*</label >						                                   
																			<select name="commune" id="inputState" class="form-control">
																				<option value="">Veuillez selectionner</option>
																				<th:block th:each="com : ${listeCommunes}">
																					<option th:text="${com.nomCommune}" th:value="${com.idCommune}"></option >
																				</th:block>
																			</select >
																		</div>
																	</div>
																	<div class="step">
																		<h4>INFORMATION SUR LA STRUCTURE</h4>
																		<div class="mt-2">
																		<label for="inputPassword3" class="col-form-label">Adresse postale</label>
																		
																			<input name="postaleEntr" type="text" class="form-control" id="inputPassword3">
																		</div>
																		<div class="mt-2">
																		<label for="inputPassword3" class="form-label">Téléphone</label>						                                    
																			<input name="telEntr" type="text" class="form-control maskPhone" id="inputPassword3">
																		</div>
																		<div class="mt-2">
																			<label for="inputPassword3" class="form-label">E-Mail*</label>						                                    
																			<input name="emailEntr" type="text" class="form-control maskEmail" id="inputPassword3">
																		</div>
																	</div>
																	<div class="step">
																		<h4>INFORMATION SUR LE REPRESENTANT</h4>
																			<div class="mt-1">                                          
																				<label class="form-label" for="inputState">Civilité*</label>						                                    
																				<select name="sexeProp" id="inputState" class="form-control">
																					<option value="">Veuillez selectionner</option>
																					<option value="monsieur">Monsieur</option>
																					<option value="madame">Madame</option >
																					<option value="mademoiselle">Mademoiselle</option >
																				</select>
																			</div>
																			<div class="mt-2">
																				<label for="inputPassword3" class="form-label">Nom*</label>			                                   
																				<input name="nomProp" type="text" class="form-control" id="inputPassword3">
																			</div>
																			<div class="mt-2">
																				<label for="inputEmail3" class="form-label">Prénom*</label>                              
																				<input name="prenomsProp" type="text" class="form-control" id="inputEmail3">
																			</div>
																			<div class="mt-2">
																				<label class="form-label" for="inputState">Fonction*</label>
																				<select name="fonction" id="inputState" class="form-control">
																					<option value="">Veuillez selectionner</option>
																					<th:block th:each="Fonc : ${listefonction}">
																						<option th:text="${Fonc.titreFonc}" th:value="${Fonc.idFonc}"></option >
																					</th:block>
																				</select>
																			</div>
																			<div class="mt-2">
																				<label class="form-label" for="inputState">Nationalité*</label>
																				<select name="nationalite" id="inputState" class="form-control">
																					<option value="">Veuillez selectionner</option>
																					<th:block th:each="nat : ${listeNationalites}">
																						<option th:text="${nat.titreNat}" th:value="${nat.idNat}"></option >
																					</th:block>
																				</select>
																			</div>
																		</div>
																		<div class="step">
																			<h4>INFORMATION SUR LE REPRESENTANT</h4>
																			<div class="mt-2">
																				<label class="form-label" for="inputState">Type pièces*</label>
																				<select name="typePieceIdentite" id="inputState" class="form-control">
																					<option value="">Veuillez selectionner</option>
																					<th:block th:each="typiec : ${listetypePieceIdentite}">
																						<option th:value="${typiec.idTyp}" th:text="${typiec.titreTyp}"></option >
																					</th:block>
																				</select>
																			</div>
																			<div class="mt-2">
																				<label for="inputPassword3" class="form-label">N° de la pièce*</label>
																				<input name="numpieceProp" type="text" class="form-control" id="inputPassword3">
																			</div>
																			<div class="mt-2">
																				<label for="inputPassword3" class="form-label">Date validité</label>
																				<input type="date" name="validitePieceProp" class="form-control" id="inputPassword3">
																			</div>
																			<div class="mt-2">
																				<label for="inputPassword3" class="form-label">N° Tel *</label>
																				<input name="telProp" type="text" class="form-control maskPhone" id="inputPassword3">
																			</div>
																			<div class="mt-2">
																				<label for="inputPassword3" class="form-label">E-Mail</label>
																				<input name="emailProp" type="text" class="form-control maskEmail" id="inputPassword3">
																			</div>
																	</div>
                                                                    <div class="step">
																		<h4>INFORMATION DU DOSSIER</h4>
																		<div class="mt-2">
																			<label class="col-form-label" for="inputState">Marque</label>
																			<select name="marque" id="inputState" class="form-control">
																				<option value="">Veuillez selectionner</option>
																				<th:block th:each="nat : ${listemarques}">
																					<option th:text="${nat.nomMarque}" th:value="${nat.idMarque}"></option >
																				</th:block>
																			</select>
																		</div>
																		<div class="mt-2">
																			<label class="col-form-label" for="inputState">Genre</label>
																			<select name="genreMarque" id="inputState" class="form-control">
																				<option value="">Veuillez selectionner</option>
																				<th:block th:each="nats : ${listegenreMarques}">
																					<option th:text="${nats.nomGen}" th:value="${nats.idGen}"></option >
																				</th:block>
																			</select>
																		</div>
																		<div class="mt-2">
																			<label for="inputPassword3" class="col-form-label">N° immatriculation*</label>
																			<input name="numImmatriculationtGag" type="text" class="form-control" id="inputPassword3">																		
																		</div>
																		<div class="mt-2">
																			<div class="form-row">
																				<div class="col-sm-5">
																					<label for="inputEmail3" class="col-form-label">Date mise en circulation*</label>
																					<input type="date" name="dateMiseCirculationGag" onchange="ageCalculate()"   class="form-control" id="dateMiseCirculationGag">
																				</div>
																				<div class="col-sm-5 offset-sm-2">
																					<label for="inputEmail3" class="col-form-label">Age du véhicule</label>
																					<div class="row ageVehicule">																		
																						<div class="col-sm-4">													
																							<input type="number" name="anLGage"  class="form-control" id="anLGage" readonly>
																							<label for="">An</label>
																						</div>
																						<div class="col-sm-4">
																							<input type="number" name="moisLGage"  class="form-control" id="moisLGage" readonly>
																							<label for="">Mois</label>
																						</div>
																						<div class="col-sm-4">
																							<input type="number" name="joursLGage"  class="form-control" id="joursLGage" readonly>
																							<label for="">Jour</label>
																						</div>
																					</div>	
																				</div>
																			</div>
																		</div>
																	</div>																	
																	<div class="step">
																		<h4>INFORMATION DU DOSSIER</h4>
																		<div class="mt-2">
																			<label for="inputEmail3" class="col-form-label">N° carte grise*</label>
																			<input name="numCarteGriseGag" type="text" class="form-control" id="inputEmail3" placeholder="N° carte grise">
																		</div>
																		<div class="mt-2">
																			<label for="inputEmail3" class="col-form-label">Date gage *</label>
																			<input type="date" name="dateGag"  class="form-control" id="inputEmail3" placeholder="Date gage">
																		</div>
																		<div class="mt-2">
																			<label for="inputEmail3" class="col-form-label">N° chassis *</label>
																			<input name="numChassisGag" type="text" class="form-control" id="inputEmail3" placeholder="N° chassis">
																		</div>
																		<div class="mt-2">
																			<label for="inputEmail3" class="col-form-label">Type technique *</label>
																			<input name="TypeTechGag" type="text" class="form-control" id="inputEmail3" placeholder="Type technique">
																		</div>
																	</div>
																</div>
																<div id="q-box__buttonss">
																	<button id="prev-btn" type="button" class="d-none">Precedent</button> 
																	<button id="next-btn" type="button" class="d-inline-block">Suivant</button> 
																	<button id="submit-btn" type="submit" class="d-none">Enregistrer</button>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
						                </div>
						            </div>
						            
                                </div>
                                
                            </div>
                        </div>
                    <!-- FIN White_card  -->
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DU CORPS  -->
</div>
</body>