<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template2" xml:lang>
<head>
<meta charset="utf-8">
<title>Création : Code Occasionnel</title>
</head>
<body>
<div layout:fragment="MyContent">
    <!-- LE CORPS  -->
    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">
            <!-- page title  -->
            <div class="row ">
                <div class="col-12">
                    <div class="white_card mb_30 ">
                        <div class="white_card_header">
                            <div class="bulder_tab_wrapper">
                                <ul class="nav" id="myTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link  active" id="Themes-tab" href="DemandeurMoral">DEMANDEUR MORALE</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="page-tab" href="DemandeurPhysique" >DEMANDEUR PHYSIQUE</a>
                                    </li>
                                  </ul>                                  
                            	</div>
                        	</div>
                        </div>
                        <div class="white_card_body" id="stepByStep">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="Themes" role="tabpanel" aria-labelledby="Themes-tab">
                                    <div class="row justify-content-center">
						                <div class="col-lg-12">
											<div class="container d-flex align-items-center min-vh-100 white_card card_height_100 mb_30">
												<div class="row g-0 justify-content-center">
													<!-- TITLE -->
													<div class="col-lg-4 offset-lg-1 mx-0 px-0">
														<div id="title-container">
															<img class="covid-image" src="../images/iec.png">
															<h2>CODE OCCASIONNEL</h2>
															<h3>ATTRIBUTION</h3>
														</div>
													</div>
													<!-- FORMS -->
													<div class="col-lg-7 mx-0 px-0">
														<div class="progress">
															<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0%"></div>
														</div>
														<div id="qbox-container">
															<form th:action="@{confirmationDossier}" class="needs-validation" id="form-wrapper" name="form-wrapper" method="POST" novalidate="">
																<div id="steps-container">
																	<div class="step d-block">
																		<h4>INFORMATION TYPE DE STRUCTURE</h4>
																		<div class="mt-2">                                           
																			<label for="typeStructure" class="form-label" >Type Structure <strong class="text-danger">*</strong></label>						                                    
																			<select name="typeStructure" id="typeStructure" class="form-control" required>
																				<option value="">Veuillez selectionner</option>
																				<th:block th:each="struc : ${listetypeStructure}">
																					<option th:value="${struc.idStruc}" th:if="${struc.idStruc==1 or struc.idStruc==2 or struc.idStruc==3 or struc.idStruc==4 or struc.idStruc==5 or struc.idStruc==6}" th:text="${struc.titreStruc}" ></option >
																				</th:block>
																			</select>
																		</div>
																	</div>
																	<div class="step">
																		<h4>INFORMATION SUR L'ENTREPRISE COMMERCIALE</h4>
																		<div class="mt-1">
																			 <label for="inputEmail3" class="form-label">Raison sociale <strong class="text-danger">*</strong></label>						                                   
																			<input type="text" name="nomEntr" class="form-control" id="nomEntr">
																		</div>
																		 <div class="mt-2">
																			<label for="inputPassword3" class="form-label">Sigle</label>						                                   
																			<input type="text" name="sigleEntr" class="form-control" id="input">
																		</div>
																		
																		<div class="mt-2" id="departementBody">                                           
																			<label class="form-label" for="inputState">Département <strong class="text-danger">*</strong></label>						                                    
																			<select name="departement" id="departement" class="form-control">
																			<option value="">Veuillez selectionner</option>
																				<th:block th:each="Dep : ${listedepartement}">
																					<option th:value="${Dep.idDep}" th:text="${Dep.titreDep}" ></option >
																				</th:block>
																			</select>
																		</div>
																		<div class="mt-2" id="numIduBody">
																			<label for="inputPassword3" class="form-label">N° IDU </label>
																			<input name="numIduEntr" type="text" class="form-control" id="numIduEntr">
																		</div>
																		<div class="mt-2">
																			<label for="inputPassword3" class="form-label">Compte contribuable <strong class="text-danger">*</strong></label>
																			<input name="contribuableEntr" type="text" class="form-control" id="contribuableEntr">
																		</div>
																		<div class="mt-2" id="exoregcomBody">                                          
																			<label class="form-label" for="inputState">Exonérer RCCM</label>						                                    
																			<select name="exoregcomEntr" id="exoregcomEntr" class="form-control">
																			<option value="">Veuillez selectionner une reponse</option>
																				<option value="non">NON</option>
																				<option value="oui">OUI</option >
																			</select>
																		</div>
																		<div class="mt-2" id="regcommerceBody">
																		<label for="inputEmail3" class="form-label">N° RCCM</label>						                                    
																			<input type="text" name="regcommerceEntr" class="form-control" id="regcommerceEntr">
																		</div>
																	</div>
																	<div class="step">
																	  <h4>INFORMATION SUR L'ENTREPRISE COMMERCIALE</h4>
																		<div class="mt-2">                                           
																			<label class="form-label" for="inputState">Forme juridique <strong class="text-danger">*</strong></label>						                                    
																			<select name="formeJuridique" id="formeJuridique" class="form-control">
																			<option value="">Veuillez selectionner une forme juridique</option>
																				<th:block th:each="jury : ${listeFormjury}">
																					<option th:text="${jury.titreJury}" th:value="${jury.idJury}"></option >
																				</th:block>
																			</select>
																		</div>
																		<div class="mt-2">                                           
																			<label class="form-label" for="inputState">Domaine Activité <strong class="text-danger">*</strong></label>						                                    
																			<select name="domaineActivite" id="domaineActivite" class="form-control">
																			<option value="">Veuillez selectionner</option>
																				<th:block th:each="dom : ${listedomaineActivite}">
																					<option th:value="${dom.idDomAct}" th:text="${dom.titreDomAct}" ></option >
																				</th:block>
																			</select>
																		</div>
																		<div class="mt-2">                                          
																		<label class="form-label" for="inputState">Ville <strong class="text-danger">*</strong></label>						                                    
																			<select name="ville" id="ville" class="form-control">
																			<option value="">Veuillez selectionner</option>
																			   <th:block th:each="vil : ${listeVilles}">
																					<option th:text="${vil.nomVille}" th:value="${vil.idVille}"></option >
																				</th:block>
																			</select >
																		</div>
																		 <div class="mt-2">                                       
																		<label  class="form-label" for="inputState">Commune <strong class="text-danger">*</strong></label >						                                   
																			<select name="commune" id="commune" class="form-control">
																			<option value="">Veuillez selectionner</option>
																				<th:block th:each="com : ${listeCommunes}">
																					<option th:text="${com.nomCommune}" th:value="${com.idCommune}"></option >
																				</th:block>
																			</select >
																		</div>
																	</div>
																	<div class="step">
																		<h4>INFORMATION SUR L'ENTREPRISE COMMERCIALE</h4>
																		<div class="mt-2">
																		<label for="inputPassword3" class="col-form-label">Adresse postale</label>
																		
																			<input name="postaleEntr" type="text" class="form-control" id="inputPassword3">
																		</div>
																		<div class="mt-2">
																		<label for="inputPassword3" class="form-label">Téléphone <strong class="text-danger">*</strong></label>						                                    
																			<input name="telEntr" type="text" class="form-control maskPhone" id="telEntr">
																		</div>
																		<div class="mt-2">
																			<label for="inputPassword3" class="form-label">E-Mail <strong class="text-danger">*</strong></label>						                                    
																			<input name="emailEntr" type="text" class="form-control maskEmail" id="emailEntr">
																		</div>
																	</div>
																	<div class="step">
																		<h4>INFORMATION SUR LE PROPRIETAIRE</h4>
																			<div class="mt-1">                                          
																				<label class="form-label" for="inputState">Civilité <strong class="text-danger">*</strong></label>						                                    
																				<select name="sexeProp" id="inputState" class="form-control">
																					<option value="">Veuillez selectionner</option>
																					<option value="monsieur">Monsieur</option>
																					<option value="madame">Madame</option >
																					<option value="mademoiselle">Mademoiselle</option >
																				</select>
																			</div>
																			<div class="mt-2">
																				<label for="inputPassword3" class="form-label">Nom <strong class="text-danger">*</strong></label>			                                   
																				<input name="nomProp" type="text" class="form-control" id="nomProp">
																			</div>
																			<div class="mt-2">
																				<label for="inputEmail3" class="form-label">Prénom <strong class="text-danger">*</strong></label>                              
																				<input name="prenomsProp" type="text" class="form-control" id="prenomsProp">
																			</div>
																			<div class="mt-2">
																				<label class="form-label" for="inputState">Fonction <strong class="text-danger">*</strong></label>
																				<select name="fonction" id="fonction" class="form-control">
																					<option value="">Veuillez selectionner</option>
																					<th:block th:each="Fonc : ${listefonction}">
																						<option th:text="${Fonc.titreFonc}" th:value="${Fonc.idFonc}"></option >
																					</th:block>
																				</select>
																			</div>
																			<div class="mt-2">
																				<label class="form-label" for="inputState">Nationalité <strong class="text-danger">*</strong></label>
																				<select name="nationalite" id="nationalite" class="form-control">
																					<option value="">Veuillez selectionner</option>
																					<th:block th:each="nat : ${listeNationalites}">
																						<option th:text="${nat.titreNat}" th:value="${nat.idNat}"></option >
																					</th:block>
																				</select>
																			</div>
																		</div>
																		<div class="step">
																			<h4>INFORMATION SUR LE PROPRIETAIRE</h4>
																			<div class="mt-2">
																				<label class="form-label" for="inputState">Type pièces <strong class="text-danger">*</strong></label>
																				<select name="typePieceIdentite" id="typePieceIdentite" class="form-control">
																					<option value="">Veuillez selectionner</option>
																					<th:block th:each="typiec : ${listetypePieceIdentite}">
																						<option th:value="${typiec.idTyp}" th:text="${typiec.titreTyp}"></option >
																					</th:block>
																				</select>
																			</div>
																			<div class="mt-2">
																				<label for="inputPassword3" class="form-label">N° de la pièce <strong class="text-danger">*</strong></label>
																				<input name="numpieceProp" type="text" class="form-control" id="numpieceProp">
																			</div>
																			<div class="mt-2">
																				<label for="inputPassword3" class="form-label">Date validité <strong class="text-danger">*</strong></label>
																				<input type="date" name="validitePieceProp" class="form-control" id="validitePieceProp">
																			</div>
																			<div class="mt-2">
																				<label for="inputPassword3" class="form-label">N° Tel <strong class="text-danger">*</strong></label>
																				<input name="telProp" type="text" class="form-control maskPhone" id="telProp">
																			</div>
																			<div class="mt-2">
																				<label for="inputPassword3" class="form-label">E-Mail <strong class="text-danger">*</strong></label>
																				<input name="emailProp" type="text" class="form-control maskEmail" id="emailProp">
																			</div>
																	</div>
                                                                    <div class="step">
																		<h4>INFORMATION DU DOSSIER</h4>
																		<div class="mt-2">
																			<label for="inputPassword3" class="form-label">N° Facture <strong class="text-danger">*</strong></label>
																			<input name="numFactureOcca" type="text" class="form-control" id="numFactureOcca" placeholder="N° Facture">
																		</div>
																		<div class="mt-2">
																			<label for="inputEmail3" class="form-label">Emetteur <strong class="text-danger">*</strong></label>
						                                        			<input name="emetteurOcca" type="text" class="form-control" id="emetteurOcca" placeholder="Emetteur">
																		</div>
																		<div class="mt-2">
																			<label for="inputEmail3" class="form-label">Date d'émission <strong class="text-danger">*</strong></label>
						                                        			<input type="date" name="dateEmisOcca"  class="form-control" id="dateEmisOcca" placeholder="Date d'émission">
																		</div>
																		<div class="mt-2">
																			<label class="form-label" for="inputState">Fiche de déclaration à l'importation ?</label>
																			<select name="declarationOcca" id="declarationOcca" class="form-control">
																				<option value="non">NON</option>
																				<option value="oui">OUI</option >
																			</select>
																		</div>
																		<div class="mt-2">
																			<label for="inputPassword3" class="form-label">Objet  <strong class="text-danger">*</strong></label>
																			<textarea name="objetOcca" class="form-control" id="objetOcca" placeholder="Objet"></textarea >
																		</div>
																	</div>
																	<div class="step"></div>
																</div>
																<div id="q-box__buttonss">
																	<button id="prev-btn" type="button" class="d-none">Precedent</button> 
																	<button id="next-btn" type="button" class="d-inline-block">Suivant</button> 
																	<button id="submit-btn" type="submit" class="d-none">Enregistrer</button>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
						                </div>
						            </div>
						            
                                </div>
                                
                            </div>
                        </div>
                    <!-- FIN White_card  -->
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DU CORPS  -->
</div>
</body>